<h1>Chapter 05. Data Class Constructors.</h1>

<h2>Overview of Data Class Constructors</h2>

Simple class for representing geographic coordinates

In [1]:
class Coordinate:

    def __init(self, lat, lon):
        self.lat = lat
        self.lon = lon

Named tuples are lightweight data structures available in the collections module that behave like tuples but provide named access to their elements.

In [2]:
from collections import namedtuple


Coordinate = namedtuple('Coordinate', 'lat lon')

In [3]:
issubclass(Coordinate, tuple)

True

In [4]:
new_york = Coordinate(40.7, 74.0)
new_york

Coordinate(lat=40.7, lon=74.0)

`typing.NamedTuple` is a class provided in the typing module that allows you to define named tuples with type annotations.

In [5]:
import typing


Coordinate = typing.NamedTuple(
    'Coordinate',
    [('lat', float), ('lon', float)]
)

In [6]:
issubclass(Coordinate, tuple)

True

In [7]:
typing.get_type_hints(Coordinate)

{'lat': float, 'lon': float}

In [8]:
from typing import NamedTuple


class Coordinate(NamedTuple):
    lat: float
    lon: float

    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'E'
        return f"{abs(self.lat):.1f}째{ns}, {abs(self.lon):.1f}째{we}"

Data classes are a feature introduced in Python 3.7 through the `dataclasses` module, providing a concise way to define classes for storing data.

In [9]:
from dataclasses import dataclass


@dataclass(frozen=True)  # frozen=True argument makes instances of the data class immutable
class Coordinate:
    lat: float
    lon: float

    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'E'
        return f"{abs(self.lat):.1f}째{ns}, {abs(self.lon):.1f}째{we}"

<h2>Classic Named Tuples</h2>

Defining and using a Named Tuple

In [10]:
from collections import namedtuple


City = namedtuple('City', 'name country population coordinates')

In [11]:
tokyo = City(
    'Tokyo',
    'JP',
    36.933,
    (35.689722, 139.691667)
)
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [12]:
tokyo.population

36.933

In [13]:
tokyo.coordinates

(35.689722, 139.691667)

In [14]:
tokyo[1]

'JP'

Named Tuple Attributes and Methods

In [15]:
City._fields  # get fields names

('name', 'country', 'population', 'coordinates')

In [16]:
Coordinate = namedtuple('Coordinate', 'lat lon')

In [17]:
delhi_data = (
    'Delhi NCR',
    'IN',
    21.935,
    Coordinate(28.613889, 77.208889)
)

In [18]:
delhi = City._make(delhi_data)  # create a City object from an iterable

In [19]:
delhi._asdict()  # returns a dict object built by a named tuple

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': Coordinate(lat=28.613889, lon=77.208889)}

In [20]:
import json


# _asdict() method for serializing data into JSON format
json.dumps(delhi._asdict())

'{"name": "Delhi NCR", "country": "IN", "population": 21.935, "coordinates": [28.613889, 77.208889]}'

In [21]:
Coordinate = namedtuple(
    'Coordinate',
    'lat lon reference',
    defaults=['WGS84']
)

In [22]:
Coordinate(0, 0)

Coordinate(lat=0, lon=0, reference='WGS84')

In [23]:
Coordinate._field_defaults

{'reference': 'WGS84'}