<h1>Chapter 02. An Array  Sequences.</h1>

<h2>List Comprehensions and Generator Expressions</h2>

Build a list of Unicode codepoints from a string

In [1]:
symbols = '$¢£¥€¤'
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

Build a list of Unicodse codepoints from a string using list comprehension

In [2]:
symbols = '$¢£¥€¤'
codes = [
    ord(symbol) for symbol in symbols
]

codes

[36, 162, 163, 165, 8364, 164]

The same list built by a listcomp and map/filter composition

In [3]:
symbols = '$¢£¥€¤'
beyond_ascii = [
    ord(s) for s in symbols if ord(s) > 127
]

beyond_ascii

[162, 163, 165, 8364, 164]

In [4]:
symbols = '$¢£¥€¤'
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))

beyond_ascii

[162, 163, 165, 8364, 164]

Cartesian product usin a list comprehension

In [5]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

tshirts = [
    (color, size) for color in colors
    for size in sizes
]

tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [6]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [7]:
tshirts = [
    (color, size) for size in sizes
    for color in colors
]

tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

Initializing a tuple and an array from a generator expression

In [8]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [9]:
import array


array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

Cartesian product in a generator expression

In [10]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

<h2>Tuples are not only Immutable Lists</h2>

Tuples used as records

In [11]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [
    ('USA', '31195855'),
    ('BRA', 'CE342567'),
    ('ESP', 'XDA205856')
]

for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [12]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

Tuples as Immutable Lists

In [13]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])
a == b

True

In [14]:
b[-1].append(99)
a == b

False

In [15]:
b

(10, 'alpha', [1, 2, 99])

In [16]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

tf = (10, 'alpha', (1, 2))  # contains no mutable items
tm = (10, 'alpha', [1, 2])  # contains a mutable items (list)
fixed(tf)

True

In [17]:
fixed(tm)

False

<h2>Unpacking Sequences and Iterables</h2>

In [18]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates  # unpacking

In [19]:
latitude

33.9425

In [20]:
longitude

-118.408056

In [21]:
divmod(20, 8)

(2, 4)

In [22]:
t = (20, 8)
divmod(*t)

(2, 4)

In [23]:
quotient, reminder = divmod(*t)
quotient, reminder

(2, 4)

<h3>Using * to grab excess items</h3>

In [26]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [27]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [28]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [29]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [30]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

<h3>Unpacking with * in function calls and sequence literals</h3>

In [32]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest

fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [33]:
*range(4), 4

(0, 1, 2, 3, 4)

In [34]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [35]:
{*range(4), 4, *(5, 6, 7)}

{0, 1, 2, 3, 4, 5, 6, 7}

<h3>Unpacking nested objects</h3>

Unpacking nested tuples to access the longitude

In [40]:
METRO_AREAS = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]


def main():
    print(f"{'':15} | {'latitude':>9} | {'longitude':>9}")
    
    for name, _, _, (lat, lon) in METRO_AREAS:
        if lon <= 0:  # only megacities in the Western hemisphere
            print(f"{name:15} | {lat:9.4f} | {lon:9.4f}")


if __name__ == '__main__':
    main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

<h2>Pattern matching with Sequences</h2>

Method from an imaginary Robot class

In [41]:
# class Robot:

#     def handle_command(self, message):
#         match message:
#             case ['BEEPER', frequency, times]:
#                 self.beep(times, frequency)
#             case ['NECK', angle]:
#                 self.rotate_neck(angle)
#             case ['LED', ident, intensity]:
#                 self.leds[ident].set_brightness(ident, intensity)
#             case ['LED', ident, red, green, blue]:
#                 self.leds[ident].set_color(ident, red, green, blue)
#             case _:
#                 raise InvalidCommand(message)

Destructuring nested tuples (requires Python >= 3.10)

In [43]:
METRO_AREAS = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]


# using match/case
def main():
    print(f"{'':15} | {'latitude':>9} | {'longitude':>9}")

    for record in METRO_AREAS:
        match record:
            case [name, _, _, (lat, lon)] if lon <= 0:
                print(f"{name:15} | {lat:9.4f} | {lon:9.4f}")


if __name__ == '__main__':
    main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358