<h1>Chapter 07. Functions as a Full-Fledged Objects.</h1>

<h2>Handling a Function as an Object</h2>

Creating an testing a funtction, the reading its `__doc__` attribute and set the type

In [1]:
def factorial(n):
    """Compute the factorial of a non negative integer"""
    if n < 0:
        raise ValueError('Factorial is not defined for negative numbers.')
    else:
        return 1 if n < 2 else n * factorial(n - 1)

In [2]:
factorial(42)

1405006117752879898543142606244511569936384000000000

In [3]:
factorial.__doc__

'Compute the factorial of a non negative integer'

In [4]:
type(factorial)

function

`help()` for the `factorial` function. The text is taken from `__doc__` attribute of the function object

In [5]:
help(factorial)

Help on function factorial in module __main__:

factorial(n)
    Compute the factorial of a non negative integer

Using a function under a different name and passing a function as an argument

In [6]:
fact = factorial
fact

In [7]:
fact(5)

120

In [8]:
map(factorial, range(11))

In [9]:
list(map(factorial, range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

<h2>Higher Order Functions</h2>

A higher-order function is a function that takes a function as an argument or returns as a value.

In [10]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspberry']

Sorting the word list by length

In [11]:
sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'raspberry', 'strawberry']

Sorting the word list in reverse letter order

In [12]:
def reverse(word):
    return word[::-1]

In [13]:
reverse('testing')

'gnitset'

In [14]:
sorted(fruits, key=reverse)

['apple', 'fig', 'raspberry', 'strawberry', 'cherry']

<h3>Modern Alternatives to <code>map</code>, <code>filter</code> and <code>reduce</code> Functions</h3>

Lists of factorials generated by `map` anf `filter` functions, and an alternative in the form of list inclusion

In [15]:
# Generate a list of factorials from 0 to 5
list(map(factorial, range(6)))

[1, 1, 2, 6, 24, 120]

In [16]:
# Generate a list of factorials with list inclusion
[factorial(n) for n in range(6)]

[1, 1, 2, 6, 24, 120]

In [17]:
# Generate a list of factorials of odd numbers using map, filter, and lambda
list(map(factorial, filter(lambda n: n % 2, range(6))))

[1, 6, 120]

In [18]:
# Generate a list of factorials of odd numbers using list inclusion
[factorial(n) for n in range(6) if n % 2]

[1, 6, 120]

Summing integers up to 99 with `reduce` and `sum`

In [19]:
from functools import reduce
from operator import add


reduce(add, range(100))

4950

In [20]:
sum(range(100))

4950

<h2>Anonymous Functions</h2>

A `lambda` function in Python is a concise, anonymous function defined with the `lambda` keyword. It accepts multiple arguments but contains only a single expression.

Sorting a word list in reverse letter order using `lambda`

In [21]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspberry', 'banana']

In [22]:
sorted(fruits, key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

<h2>User Callable Types</h2>

The `__call__` method enables an object to be callable like a function. When this method is defined within a `class`, instances of that `class` can be invoked using function `__call__` syntax (parentheses).

In [23]:
from random import shuffle


class BingoCage:
    def __init__(self, items):
        self._items = list(items)
        shuffle(self._items)

    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError('Cannot perform lookup operation. The BingoCage list is empty.')

    def __call__(self):
        return self.pick()

In [24]:
bingo = BingoCage(range(3))
bingo.pick()

1

In [25]:
bingo()

0

In [26]:
# Determine whether an object is callable or not
callable(bingo)

True

<h2>From Positional to Named Parameters</h2>

The `tag` function generates `HTML`; the purely named argument `class_` is used to pass the 'class' attribute

In [27]:
def tag(name, *content, class_=None, **attrs):
    """Generate one or more HTML tags"""

    if class_ is not None:
        attrs['class'] = class_

    attr_str = ''.join(
        f" {attr}='{value}'" for attr, value
        in sorted(attrs.items())
    )

    if content:
        return '\n'.join(
            f"<{name}{attr_str}>{c}</{name}>"
            for c in content
        )

    else:
        return f"<{name}{attr_str}/>"

Given a single positional argument, produces an empty tag name with that name.

In [28]:
tag('br')

'<br/>'

Any number of arguments after the first is taken by the `*content` construct and placed in a tuple.

In [29]:
tag('p', 'hello')

'<p>hello</p>'

In [30]:
tag('p', 'hello', 'world')

'<p>hello</p>\n<p>world</p>'

Named arguments that are not listed in the `tag` function are taken by the `**attrs` construct and placed in a dictionary.

In [31]:
tag('p', 'hello', id=33)

"<p id='33'>hello</p>"

The `class_` parameter can only be passed with a named argument.

In [32]:
print(tag('p', 'hello', 'world', class_='sidebar'))

<p class='sidebar'>hello</p>
<p class='sidebar'>world</p>

The first positional argument can also be passed as a named argument.

In [33]:
tag(content='testing', name='img')

"<img content='testing'/>"

If the `my_tag` dictionary is prefaced by two stars `**`, all its elements are passed as separate arguments, then some are connected with named parameters, and the rest are taken over by the `**attrs` construct.

In [34]:
my_tag = {
    'name': 'img',
    'title': 'Sunset Boulevard',
    'src': 'sunset.jpg',
    'class': 'framed'
}

tag(**my_tag)

"<img class='framed' src='sunset.jpg' title='Sunset Boulevard'/>"

To specify named arguments in a function defenition, specify them with an `*` prefix after the argument.

In [35]:
def f(a, *, b):
    return a, b

In [36]:
f(1, b=2)

(1, 2)

In [37]:
try:
    f(1, 2)
except TypeError as e:
    print(e.__repr__())

TypeError('f() takes 1 positional argument but 2 were given')

<h3>Positional Parameters</h3>

To define a function that requires only positional arguements, use the `/` symbol in the parameter list.

In [38]:
def divmod(a, b, /):
    return (a // b, a % b)