<h1>Chapter 02. An Array  Sequences.</h1>

<h2>List Comprehensions and Generator Expressions</h2>

Build a list of Unicode codepoints from a string

In [1]:
symbols = '$¢£¥€¤'
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

Build a list of Unicodse codepoints from a string using list comprehension

In [2]:
symbols = '$¢£¥€¤'
codes = [
    ord(symbol) for symbol in symbols
]

codes

[36, 162, 163, 165, 8364, 164]

The same list built by a listcomp and map/filter composition

In [3]:
symbols = '$¢£¥€¤'
beyond_ascii = [
    ord(s) for s in symbols if ord(s) > 127
]

beyond_ascii

[162, 163, 165, 8364, 164]

In [4]:
symbols = '$¢£¥€¤'
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))

beyond_ascii

[162, 163, 165, 8364, 164]

Cartesian product using a list comprehension

In [5]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

tshirts = [
    (color, size) for color in colors
    for size in sizes
]

tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [6]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [7]:
tshirts = [
    (color, size) for size in sizes
    for color in colors
]

tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

Initializing a tuple and an array from a generator expression

In [8]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [9]:
import array


array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

Cartesian product in a generator expression

In [10]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

<h2>Tuples are not only Immutable Lists</h2>

Tuples used as records

In [11]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [
    ('USA', '31195855'),
    ('BRA', 'CE342567'),
    ('ESP', 'XDA205856')
]

for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [12]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

Tuples as Immutable Lists

In [13]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])
a == b

True

In [14]:
b[-1].append(99)
a == b

False

In [15]:
b

(10, 'alpha', [1, 2, 99])

In [16]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

tf = (10, 'alpha', (1, 2))  # contains no mutable items
tm = (10, 'alpha', [1, 2])  # contains a mutable items (list)
fixed(tf)

True

In [17]:
fixed(tm)

False

<h2>Unpacking Sequences and Iterables</h2>

In [18]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates  # unpacking

In [19]:
latitude

33.9425

In [20]:
longitude

-118.408056

In [21]:
divmod(20, 8)

(2, 4)

In [22]:
t = (20, 8)
divmod(*t)

(2, 4)

In [23]:
quotient, reminder = divmod(*t)
quotient, reminder

(2, 4)

<h3>Using <code>*</code> to grab excess items</h3>

In [24]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [25]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [26]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [27]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [28]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

<h3>Unpacking with <code>*</code> in function calls and sequence literals</h3>

In [29]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest

fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [30]:
*range(4), 4

(0, 1, 2, 3, 4)

In [31]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [32]:
{*range(4), 4, *(5, 6, 7)}

{0, 1, 2, 3, 4, 5, 6, 7}

<h3>Unpacking nested objects</h3>

Unpacking nested tuples to access the longitude

In [33]:
METRO_AREAS = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]


def main():
    print(f"{'':15} | {'latitude':>9} | {'longitude':>9}")
    
    for name, _, _, (lat, lon) in METRO_AREAS:
        if lon <= 0:  # only megacities in the Western hemisphere
            print(f"{name:15} | {lat:9.4f} | {lon:9.4f}")


if __name__ == '__main__':
    main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

<h2>Pattern matching with Sequences</h2>

Method from an imaginary Robot class

In [34]:
# class Robot:

#     def handle_command(self, message):
#         match message:
#             case ['BEEPER', frequency, times]:
#                 self.beep(times, frequency)
#             case ['NECK', angle]:
#                 self.rotate_neck(angle)
#             case ['LED', ident, intensity]:
#                 self.leds[ident].set_brightness(ident, intensity)
#             case ['LED', ident, red, green, blue]:
#                 self.leds[ident].set_color(ident, red, green, blue)
#             case _:
#                 raise InvalidCommand(message)

Destructuring nested tuples (requires Python >= 3.10)

In [35]:
METRO_AREAS = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]


# using match/case
def main():
    print(f"{'':15} | {'latitude':>9} | {'longitude':>9}")

    for record in METRO_AREAS:
        match record:
            case [name, _, _, (lat, lon)] if lon <= 0:
                print(f"{name:15} | {lat:9.4f} | {lon:9.4f}")


if __name__ == '__main__':
    main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

<h3>Pattern Matching Sequences in an Interpreter</h3>

Pattern matching with match/case

In [36]:
class Command:
    def __init__(self, name, *args):
        self.name = name
        self.args = args

def interpret_command(commands):
    for cmd in commands:
        match cmd:
            case Command(name='print', args=args) if all(isinstance(arg, str) for arg in args):
                print(' '.join(args) + '!')
            case Command(name='sum', args=args) if all(isinstance(arg, int) for arg in args):
                print(f"Args sum: {sum(args)}")
            case Command(name='exit'):
                print("Exiting the interpreter...")
            case _:
                print("Invalid or unsupported command")

# Sample command sequences to interpret
commands = [
    Command('print', 'Hello', 'World'),
    Command('sum', 10, 20, 30),
    Command('exit'),
    Command('unknown')
]

# Interpret each command
interpret_command(commands)

Hello World!
Args sum: 60
Exiting the interpreter...
Invalid or unsupported command

<h2>Slicing</h2>

<h3>Why Slices and Range exclude the Last Item</h3>

Because it's indexed from 0, you'll get the length, but not the last element.

In [37]:
my_list = list(range(5))  # length 5
my_list

[0, 1, 2, 3, 4]

In [38]:
my_list[:5]  # length 5

[0, 1, 2, 3, 4]

<h3>Slice Objects</h3>

In [39]:
s = 'bicycle'
s[::3]

'bye'

In [40]:
s[::-1]

'elcycib'

In [41]:
s[::-2]

'eccb'

To calculate the expression `seq[start:stop:slice]`, Python calls method `seq.__getitem__(slice(start, stop, step))`

Line items from a flat-line invoice

In [42]:
INVOICE = """
0....5..................................40........52...55........
1909 Pimoroni PiBrella                      $17.50    3    $52.50
1489 6mm Tactile Switch x20                  $4.95    2    $9.90
1510 Panavise Jr. - PV-201                  $28.00    1    $28.00
1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95
"""

SKU = slice(0, 6)
DESCRIPTION = slice(5, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)

line_items = INVOICE.split('\n')[2:]

for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.50   Pimoroni PiBrella
     $4.95   6mm Tactile Switch x20
    $28.00   Panavise Jr. - PV-201
    $34.95   PiTFT Mini Kit 320x240

<h3>Assigning to Slices</h3>

In [43]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [45]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [46]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [47]:
try:
    l[2:5] = 100
except TypeError as e:
    print(e.__repr__())

TypeError('can only assign an iterable')

In [48]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

<h3>Using <code>+</code> and <code>*</code> with Sequences</h3>

In [49]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
l1 = [4, 5, 6]
l + l1

[1, 2, 3, 4, 5, 6]

In [51]:
5 * 'abc_'

'abc_abc_abc_abc_abc_'

<h3>Building a Lists of Lists</h3>

A list with three lists of length 3 can represent a tic-tac-toe board

In [52]:
board = [['_'] * 3 for _ in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [53]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

A list with three references to the same list is useless

In [54]:
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [55]:
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

`weird_board` works like the folowing code

In [56]:
row = ['_'] * 3
weird_board = []
for i in range(3):
    weird_board.append(row)  # same object is added three times

`board` works like the following code

In [57]:
board = []
for i in range(3):
    row = ['_'] * 3  # each iteration builds a new row
    board.append(row)

<h2>Augmented Assignment with Sequences</h2>

In [58]:
l = [1, 2, 3]
id(l)  # get list id

4529748544

In [59]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [60]:
id(l)  # get list id again

4529748544

After multiplication, the list is the same.

In [61]:
t = (1, 2, 3)
id(t)  # get tuple id

4528716864

In [62]:
t *= 2
t

(1, 2, 3, 1, 2, 3)

In [63]:
id(t)  # get tuple id again

4528690784

After multiplication, a new tuple is created.

<h3>A <code>+=</code> Assigment Puzzler</h3>

A riddle

In [64]:
t = (1, 2, [30, 40])
try:
    t[2] += [50, 60]
except TypeError as e:
    print(e.__repr__())

TypeError("'tuple' object does not support item assignment")

The unexpected result: item `t` is changed and an exception is raised

In [65]:
t

(1, 2, [30, 40, 50, 60])

Bytecode for the expression `s[a] += b`

In [66]:
import dis


dis.dis('s[a] += b')

  0           0 RESUME                   0

  1           2 LOAD_NAME                0 (s)
              4 LOAD_NAME                1 (a)
              6 COPY                     2
              8 COPY                     2
             10 BINARY_SUBSCR
             14 LOAD_NAME                2 (b)
             16 BINARY_OP               13 (+=)
             20 SWAP                     3
             22 SWAP                     2
             24 STORE_SUBSCR
             28 RETURN_CONST             0 (None)

<h2>The Method <code>list.sort()</code> and <code>sorted()</code> Built-in Function</h2>

`sort()` is a method that sorts the elements of a list in place (modifies the original list).
`sorted()` is a built-in function that returns a new sorted list from the elements of any iterable.

In [67]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [68]:
fruits  # original list is not changed

['grape', 'raspberry', 'apple', 'banana']

In [69]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [70]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [71]:
fruits  # original list still unchanged

['grape', 'raspberry', 'apple', 'banana']

In [72]:
fruits.sort()
fruits  # original list is changed

['apple', 'banana', 'grape', 'raspberry']

<h2>When a List is not the Answer</h2>